[buildout]
index = https://pypi.python.org/simple/
extends =
  buildout-base.cfg
extensions = mr.developer

var-dir=/data
user=admin:admin

effective-user = senaite
buildout-user = senaite

eggs-directory=eggs
download-cache=../buildout-cache/downloads

parts +=
  zeo
  plonesite
  console_scripts

eggs +=
    senaite.lims

[client1]
recipe =

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

[instance]
# taken from https://github.com/plone/plone.docker/blob/master/5.2/5.2.5/python2/buildout.cfg
event-log-handler = StreamHandler
event-log-args = (sys.stderr,)
access-log-handler = StreamHandler
access-log-args = (sys.stdout,)

[console_scripts]
recipe = zc.recipe.egg:scripts
eggs = senaite.core

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = senaite
profiles-initial = Products.CMFPlone:dependencies
profiles =
    senaite.lims:default
upgrade-portal = False
upgrade-all-profiles = False
enabled = False

[versions]
setuptools =
zc.buildout =
senaite.lims = 2.6.0
